@model _03.InformationalSystem.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Book details</h2>

@Html.Partial("_Details", Model)

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.BookId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
